
/*
    css for the table content
*/
p{
    text-align: left;
    color: orange;
    background-color: azure;
}
button{
    
    color: #fab800;
    background-color: fab800;
    
    width: 100px;
    height: 50px;
    margin: 10px;

} 
h1{
    background-color: blanchedalmond;
}
.row
{
    background-color: #fab800;
    
}

#head  /* header of the table row 1 */
{
    color: black;
    background-color: #ff5e6c;
}

body  /*   *    can also be used to select all */
{
    background-color:bisque;
    
    background-size: cover;
    background-position: center;
    border: 10px solid black;
    padding: 20px;
    
}
td{
    color: black;
    height: 20px;
}

table
{
    border-color: rgb(255, 2, 2);
    border-style: solid;
    padding: 0px;  
    
    
    text-align: center;
    width: 100%;
    height: 100px;
    
    
    border-width: 8px;
    padding: 100px;
    border: 2px solid red;
}

tr{
    border-width: 8px;
    font-size: large ;
    
    height: 40px;
}

