.sidebar
{
    display: flex;
    flex-direction: column;
    width: 230px;

}


.text
{
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;    
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    padding-top: 45px;
}


.image
{    
   position: relative;
   top:10px;
}


*
{
    box-sizing: border-box;
}

.name
{
    padding: 10px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    
    border-radius: 2px;
    position: relative;
    bottom:25px;

}

.name>h2
{
    margin: 0px;
    text-align: center;
    position: relative;
    
}

section>div
{
    margin: 0px;
    position: relative;
    bottom: 25px;
}



#icon{
    font-size: 40px;
}

