.answer{
    display: none;
    
    background-color: black;
    color: white;
    width: 40vw;
    text-align: center;
    margin: 1px auto;
    padding: 10px;


}

.question{
    background-color: black;
    color: white;
    width: 40vw;
    text-align: center;
    margin: 1px auto;
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

button{
    background-color: black;
    color: white;
    
    font-size: 2em;
}

.dateDiv{
    display: none;
}