#container
{
    height: 313px;
    width: 330px;
    border: 1px solid red;
    position: relative;
    left:10%

}

.child
{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    float: left;


}

/* .image
{
    position: relative;
    left:41%;
    bottom:40%;
    
} */