.container{
    display: grid;

    width: 100%;
    height: 100%;
    border:0.2vw solid blue;
    margin: 1px auto;
    grid-template-rows: auto auto auto;
}

.child{
   
    border: 0.2em solid blue;
 
    font-family: sans-serif;
    text-align: center;
    
}

.header{
    grid-area:1/1/2/13;
}

.menu{
    grid-area: 2/1/4/5;
}

.main{
    grid-area:2/1/4/9;
}

.right{
    grid-area: 2/9/4/13;
}

.footer{
    grid-area: 4/1/4/13;
}

nav{
    display: flex;
    justify-content: center
    
}
nav button{
    display: inline-block;
    margin: 1em;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
    border: 1px solid snow;
    padding: 20px;
}

.child-right button{
    display: flex;
    flex-direction: column;
    margin: 0.5em;

}